<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!--<variable name="logDirectory" value="C:/Instagram/Log/${shortdate}"/>-->
  <variable name="logDirectory" value="https://askhatinsta.file.core.windows.net/instafilestorage/Log/${shortdate}"/>
  <targets>
    <!-- Using the colored console as my target-->
    <target name="logfile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${logDirectory}/${shortdate}.info.log" />
  
  <target name="errorfile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${logDirectory}/${shortdate}.error.log" />

    <target name="tracefile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${logDirectory}/${shortdate}.trace.log" />
  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="logfile" />
    <logger name="*" levels="Trace" writeTo="tracefile" />
    <logger name="*" levels="Warn,Error,Fatal" writeTo="errorfile" />
  </rules>
</nlog>